src/main/resources/wsdl/WsReportWithReferenceServices.wsdl


<definitions name='KOPSWebServices' targetNamespace='http://yurticikargo.com.tr/sswIntegrationServices' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://yurticikargo.com.tr/WSExceptions/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://yurticikargo.com.tr/sswIntegrationServices' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://yurticikargo.com.tr/WSExceptions/' version='1.0' xmlns:tns='http://yurticikargo.com.tr/WSExceptions/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='YurticikargoWSException' type='tns:YurticikargoWSException'/>
   <xs:complexType name='YurticikargoWSException'>
    <xs:sequence>
     <xs:element name='errorCode' type='xs:int'/>
     <xs:element minOccurs='0' name='errText' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  <xs:schema targetNamespace='http://yurticikargo.com.tr/sswIntegrationServices' version='1.0' xmlns:ns1='http://yurticikargo.com.tr/WSExceptions/' xmlns:tns='http://yurticikargo.com.tr/sswIntegrationServices' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:import namespace='http://yurticikargo.com.tr/WSExceptions/'/>
   <xs:element name='CustParamsVO' type='tns:CustParamsVO'/>
   <xs:element name='DocCargoField2VO' type='tns:DocCargoField2VO'/>
   <xs:element name='DocCargoVO' type='tns:DocCargoVO'/>
   <xs:element name='InvDocField2VO' type='tns:InvDocField2VO'/>
   <xs:element name='ShippingDataDetailVO' type='tns:ShippingDataDetailVO'/>
   <xs:element name='ShippingDataV2DetailVO' type='tns:ShippingDataV2DetailVO'/>
   <xs:element name='ShippingDataV3DetailVO' type='tns:ShippingDataV3DetailVO'/>
   <xs:element name='UnitParamsVO' type='tns:UnitParamsVO'/>
   <xs:element name='XShippingV2DetailVO' type='tns:XShippingV2DetailVO'/>
   <xs:element name='YurticikargoWSException' nillable='true' type='ns1:YurticikargoWSException'/>
   <xs:element name='getDeliveryCollectionInfoByReference' type='tns:getDeliveryCollectionInfoByReference'/>
   <xs:element name='getDeliveryCollectionInfoByReferenceResponse' type='tns:getDeliveryCollectionInfoByReferenceResponse'/>
   <xs:element name='listInvDocumentByCustIdV2' type='tns:listInvDocumentByCustIdV2'/>
   <xs:element name='listInvDocumentByCustIdV2Response' type='tns:listInvDocumentByCustIdV2Response'/>
   <xs:element name='listInvDocumentByGrpSpecialField' type='tns:listInvDocumentByGrpSpecialField'/>
   <xs:element name='listInvDocumentByGrpSpecialFieldResponse' type='tns:listInvDocumentByGrpSpecialFieldResponse'/>
   <xs:element name='listInvDocumentByWaybillNo' type='tns:listInvDocumentByWaybillNo'/>
   <xs:element name='listInvDocumentByWaybillNoResponse' type='tns:listInvDocumentByWaybillNoResponse'/>
   <xs:element name='listInvDocumentInterfaceByReference' type='tns:listInvDocumentInterfaceByReference'/>
   <xs:element name='listInvDocumentInterfaceByReferenceResponse' type='tns:listInvDocumentInterfaceByReferenceResponse'/>
   <xs:element name='listInvDocumentInterfaceWithFailedDeliveryV2' type='tns:listInvDocumentInterfaceWithFailedDeliveryV2'/>
   <xs:element name='listInvDocumentInterfaceWithFailedDeliveryV2Response' type='tns:listInvDocumentInterfaceWithFailedDeliveryV2Response'/>
   <xs:element name='listNgiShipping' type='tns:listNgiShipping'/>
   <xs:element name='listNgiShippingResponse' type='tns:listNgiShippingResponse'/>
   <xs:complexType name='listInvDocumentInterfaceByReference'>
    <xs:sequence>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='language' type='xs:string'/>
     <xs:element minOccurs='0' name='custParamsVO' type='tns:CustParamsVO'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='fieldValueArray' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docIdArray' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateParamType' type='xs:string'/>
     <xs:element minOccurs='0' name='withCargoLifecycle' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='CustParamsVO'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='invCustIdArray' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='senderCustIdArray' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='receiverCustIdArray' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentInterfaceByReferenceResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ShippingDataResponseVO' type='tns:shippingDataResponseVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='shippingDataResponseVO'>
    <xs:complexContent>
     <xs:extension base='tns:baseResultVO'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='shippingDataDetailVOArray' nillable='true' type='tns:ShippingDataDetailVO'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='baseResultVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='outFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='outResult' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ShippingDataDetailVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='transactionStatus' type='xs:string'/>
     <xs:element minOccurs='0' name='transactionErrCode' type='xs:string'/>
     <xs:element minOccurs='0' name='transactionMessage' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldValue' type='xs:string'/>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element minOccurs='0' name='invoiceNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='docNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='waybillNo' type='xs:string'/>
     <xs:element minOccurs='0' name='docCargoId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='senderAddressTxt' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverAddressTxt' type='xs:string'/>
     <xs:element minOccurs='0' name='senderAddressId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverAddressId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCityId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCityId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCityName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCityName' type='xs:string'/>
     <xs:element minOccurs='0' name='senderTownId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverTownId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderTownName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverTownName' type='xs:string'/>
     <xs:element minOccurs='0' name='senderMobilePhoneNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverMobilePhoneNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='documentReceiverMobilePhoneNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='documentDate' type='xs:string'/>
     <xs:element minOccurs='0' name='documentTime' type='xs:string'/>
     <xs:element minOccurs='0' name='documentDelFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverInfo' type='xs:string'/>
     <xs:element minOccurs='0' name='docType' type='xs:string'/>
     <xs:element minOccurs='0' name='docTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='contractId' type='xs:string'/>
     <xs:element minOccurs='0' name='trackingUrl' type='xs:string'/>
     <xs:element minOccurs='0' name='shipmentDistance' type='xs:string'/>
     <xs:element minOccurs='0' name='estimatedDeliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoType' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='pickupType' type='xs:string'/>
     <xs:element minOccurs='0' name='pickupTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryType' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryTime' type='xs:string'/>
     <xs:element minOccurs='0' name='totalPrice' type='xs:string'/>
     <xs:element minOccurs='0' name='totalVat' type='xs:string'/>
     <xs:element minOccurs='0' name='totalAmount' type='xs:string'/>
     <xs:element minOccurs='0' name='product' type='xs:string'/>
     <xs:element minOccurs='0' name='totalDesi' type='xs:string'/>
     <xs:element minOccurs='0' name='totalKg' type='xs:string'/>
     <xs:element minOccurs='0' name='totalDesiKg' type='xs:string'/>
     <xs:element minOccurs='0' name='totalCargo' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='documentEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='documentReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='documentEventExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='documentReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='delInfoDeliveryFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='delInfoDelUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='delEmpName' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectStatus' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectStatusExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='returnDocId' type='xs:string'/>
     <xs:element minOccurs='0' name='returnDocumentDate' type='xs:string'/>
     <xs:element minOccurs='0' name='returnDeliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='returnStatus' type='xs:string'/>
     <xs:element minOccurs='0' name='returnStatusExplanation' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='invDocFieldVOArray' nillable='true' type='tns:InvDocField2VO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoFieldVOArray' nillable='true' type='tns:DocCargoField2VO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoLifeCycleVOArray' nillable='true' type='tns:DocCargoLifeCycleVO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoVOArray' nillable='true' type='tns:DocCargoVO'/>
     <xs:element minOccurs='0' name='returnTotalPrice' type='xs:string'/>
     <xs:element minOccurs='0' name='returnTotalVat' type='xs:string'/>
     <xs:element minOccurs='0' name='returnTotalAmount' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='InvDocField2VO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldNameExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldValue' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='DocCargoField2VO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='docCargoId' type='xs:string'/>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldNameExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldValue' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='DocCargoLifeCycleVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='docCargoId' type='xs:string'/>
     <xs:element minOccurs='0' name='cityName' type='xs:string'/>
     <xs:element minOccurs='0' name='eventDate' type='xs:string'/>
     <xs:element minOccurs='0' name='eventId' type='xs:string'/>
     <xs:element minOccurs='0' name='eventName' type='xs:string'/>
     <xs:element minOccurs='0' name='eventTime' type='xs:string'/>
     <xs:element minOccurs='0' name='reasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='reasonName' type='xs:string'/>
     <xs:element minOccurs='0' name='townName' type='xs:string'/>
     <xs:element minOccurs='0' name='unitId' type='xs:string'/>
     <xs:element minOccurs='0' name='unitName' type='xs:string'/>
     <xs:element minOccurs='0' name='desi' type='xs:string'/>
     <xs:element minOccurs='0' name='kg' type='xs:string'/>
     <xs:element minOccurs='0' name='desiKg' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='DocCargoVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='docCargoId' type='xs:string'/>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element name='cargoNumber' type='xs:long'/>
     <xs:element minOccurs='0' name='cargoType' type='xs:string'/>
     <xs:element name='desi' type='xs:double'/>
     <xs:element name='kg' type='xs:double'/>
     <xs:element minOccurs='0' name='barcodeStringValue' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentByWaybillNo'>
    <xs:sequence>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='language' type='xs:string'/>
     <xs:element minOccurs='0' name='custParamsVO' type='tns:CustParamsVO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='waybillNoArray' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateParamType' type='xs:string'/>
     <xs:element minOccurs='0' name='withCargoLifecycle' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentByWaybillNoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ShippingDataResponseVO' type='tns:shippingDataResponseVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentInterfaceWithFailedDeliveryV2'>
    <xs:sequence>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='language' type='xs:string'/>
     <xs:element minOccurs='0' name='custParamsVO' type='tns:CustParamsVO'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateParamType' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentInterfaceWithFailedDeliveryV2Response'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ShippingDataResponseVO' type='tns:shippingDataV2ResponseVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='shippingDataV2ResponseVO'>
    <xs:complexContent>
     <xs:extension base='tns:extendedBaseResultVO'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='shippingDataV2DetailVOArray' nillable='true' type='tns:ShippingDataV2DetailVO'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='extendedBaseResultVO'>
    <xs:complexContent>
     <xs:extension base='tns:baseResultVO'>
      <xs:sequence>
       <xs:element minOccurs='0' name='errCode' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='ShippingDataV2DetailVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element minOccurs='0' name='transactionChannel' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldValue' type='xs:string'/>
     <xs:element minOccurs='0' name='documentDate' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='estimatedDeliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='shipmentDeliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='delInfoDeliveryFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='currentUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='currentUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectRequestDate' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectStatus' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectStatusExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='docCargoId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverAddressId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverAddressText' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getDeliveryCollectionInfoByReference'>
    <xs:sequence>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='language' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateType' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='custDocNumber' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='custId' type='xs:long'/>
     <xs:element minOccurs='0' name='subCustomer' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getDeliveryCollectionInfoByReferenceResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='DeliveryCollectionDataResponseVO' type='tns:deliveryCollectionDataResponseVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='deliveryCollectionDataResponseVO'>
    <xs:complexContent>
     <xs:extension base='tns:extendedBaseResultVO'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='deliveryCollectionInfoVOArray' nillable='true' type='tns:qListDeliveryCollectionInfoVO'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='qListDeliveryCollectionInfoVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arrivalUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoStatus' type='xs:string'/>
     <xs:element name='collectionAmount' type='xs:double'/>
     <xs:element minOccurs='0' name='custCollectionType' type='xs:string'/>
     <xs:element minOccurs='0' name='custDocNumber' type='xs:string'/>
     <xs:element name='custInvoiceAmount' type='xs:double'/>
     <xs:element minOccurs='0' name='dcAppliedCredit' type='xs:string'/>
     <xs:element minOccurs='0' name='dcBankRefNo' type='xs:string'/>
     <xs:element minOccurs='0' name='dcSelectedCredit' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='docFieldAllValue' type='xs:string'/>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element minOccurs='0' name='docNumber' type='xs:string'/>
     <xs:element name='docPrice' type='xs:double'/>
     <xs:element name='docVat' type='xs:double'/>
     <xs:element minOccurs='0' name='documentDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dtCollectionDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dueDate' type='xs:string'/>
     <xs:element name='dutyPrice' type='xs:double'/>
     <xs:element name='dutyVat' type='xs:double'/>
     <xs:element minOccurs='0' name='invoiceStatus' type='xs:string'/>
     <xs:element minOccurs='0' name='lastEventDate' type='xs:string'/>
     <xs:element minOccurs='0' name='lastEventTime' type='xs:string'/>
     <xs:element minOccurs='0' name='odCollectionDate' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='specialField' type='xs:string'/>
     <xs:element minOccurs='0' name='ykInvoiceId' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentByCustIdV2'>
    <xs:sequence>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='language' type='xs:string'/>
     <xs:element minOccurs='0' name='custParamsVO' type='tns:CustParamsVO'/>
     <xs:element minOccurs='0' name='unitParamsVO' type='tns:UnitParamsVO'/>
     <xs:element minOccurs='0' name='subCustomerFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateParamType' type='xs:string'/>
     <xs:element minOccurs='0' name='wsUserGroupId' type='xs:string'/>
     <xs:element minOccurs='0' name='withCargoLifecycle' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='UnitParamsVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='departureUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitId' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentByCustIdV2Response'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ShippingDataV3ResponseVO' type='tns:shippingDataV3ResponseVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='shippingDataV3ResponseVO'>
    <xs:complexContent>
     <xs:extension base='tns:baseResultVO'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='shippingDataDetailVOArray' nillable='true' type='tns:ShippingDataV3DetailVO'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='ShippingDataV3DetailVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element minOccurs='0' name='fieldValue' type='xs:string'/>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element minOccurs='0' name='transactionChannel' type='xs:string'/>
     <xs:element minOccurs='0' name='invoiceNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='docNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='waybillNo' type='xs:string'/>
     <xs:element minOccurs='0' name='docCargoId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='senderAddressTxt' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverAddressTxt' type='xs:string'/>
     <xs:element minOccurs='0' name='senderAddressId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverAddressId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCityId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCityId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCityName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCityName' type='xs:string'/>
     <xs:element minOccurs='0' name='senderTownId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverTownId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderTownName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverTownName' type='xs:string'/>
     <xs:element minOccurs='0' name='senderMobilePhoneNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverMobilePhoneNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='documentReceiverMobilePhoneNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='documentDate' type='xs:string'/>
     <xs:element minOccurs='0' name='documentTime' type='xs:string'/>
     <xs:element minOccurs='0' name='documentDelFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverInfo' type='xs:string'/>
     <xs:element minOccurs='0' name='docType' type='xs:string'/>
     <xs:element minOccurs='0' name='docTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='contractId' type='xs:string'/>
     <xs:element minOccurs='0' name='trackingUrl' type='xs:string'/>
     <xs:element minOccurs='0' name='shipmentDistance' type='xs:string'/>
     <xs:element minOccurs='0' name='estimatedDeliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoType' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='pickupType' type='xs:string'/>
     <xs:element minOccurs='0' name='pickupTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryType' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryTypeExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryTime' type='xs:string'/>
     <xs:element minOccurs='0' name='totalPrice' type='xs:string'/>
     <xs:element minOccurs='0' name='totalVat' type='xs:string'/>
     <xs:element minOccurs='0' name='totalAmount' type='xs:string'/>
     <xs:element minOccurs='0' name='product' type='xs:string'/>
     <xs:element minOccurs='0' name='totalDesi' type='xs:string'/>
     <xs:element minOccurs='0' name='totalKg' type='xs:string'/>
     <xs:element minOccurs='0' name='totalDesiKg' type='xs:string'/>
     <xs:element minOccurs='0' name='totalCargo' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='departureUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='documentEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='documentReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='documentEventExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='documentReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='delInfoDeliveryFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='delInfoDelUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='delEmpName' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectStatus' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectStatusExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='returnDocId' type='xs:string'/>
     <xs:element minOccurs='0' name='returnDocumentDate' type='xs:string'/>
     <xs:element minOccurs='0' name='returnDeliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='returnStatus' type='xs:string'/>
     <xs:element minOccurs='0' name='returnStatusExplanation' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='invDocFieldVOArray' nillable='true' type='tns:InvDocField2VO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoFieldVOArray' nillable='true' type='tns:DocCargoField2VO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoLifeCycleVOArray' nillable='true' type='tns:DocCargoLifeCycleVO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoVOArray' nillable='true' type='tns:DocCargoVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentByGrpSpecialField'>
    <xs:sequence>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='language' type='xs:string'/>
     <xs:element minOccurs='0' name='custParamsVO' type='tns:CustParamsVO'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='fieldValueArray' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateParamType' type='xs:string'/>
     <xs:element minOccurs='0' name='withCargoLifecycle' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listInvDocumentByGrpSpecialFieldResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ShippingDataResponseVO' type='tns:shippingDataResponseVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listNgiShipping'>
    <xs:sequence>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='language' type='xs:string'/>
     <xs:element minOccurs='0' name='custParamsVO' type='tns:CustParamsVO'/>
     <xs:element minOccurs='0' name='fieldName' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='fieldValueArray' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docIdArray' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateParamType' type='xs:string'/>
     <xs:element minOccurs='0' name='withCargoLifecycle' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listNgiShippingResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='XShippingV2ResponseVO' type='tns:xShippingV2ResponseVO'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='xShippingV2ResponseVO'>
    <xs:complexContent>
     <xs:extension base='tns:baseResultVO'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='shippingDetailVOArray' nillable='true' type='tns:XShippingV2DetailVO'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='XShippingV2DetailVO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='docId' type='xs:string'/>
     <xs:element minOccurs='0' name='trackingUrl' type='xs:string'/>
     <xs:element minOccurs='0' name='docNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='recCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustId' type='xs:string'/>
     <xs:element minOccurs='0' name='invCustName' type='xs:string'/>
     <xs:element minOccurs='0' name='depUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='depCityName' type='xs:string'/>
     <xs:element minOccurs='0' name='departureDate' type='xs:string'/>
     <xs:element minOccurs='0' name='departureTime' type='xs:string'/>
     <xs:element minOccurs='0' name='arrUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='arrUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='arrCityName' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalDate' type='xs:string'/>
     <xs:element minOccurs='0' name='docType' type='xs:string'/>
     <xs:element minOccurs='0' name='paymentType' type='xs:string'/>
     <xs:element minOccurs='0' name='pickUpType' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryType' type='xs:string'/>
     <xs:element minOccurs='0' name='prodName' type='xs:string'/>
     <xs:element minOccurs='0' name='prodGrpName' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoType' type='xs:string'/>
     <xs:element name='totalCargo' type='xs:int'/>
     <xs:element name='totalDesiKg' type='xs:double'/>
     <xs:element name='productPrice' type='xs:double'/>
     <xs:element name='totalPrice' type='xs:double'/>
     <xs:element name='totalVat' type='xs:double'/>
     <xs:element name='totalPriceWithVat' type='xs:double'/>
     <xs:element minOccurs='0' name='docCargoId' type='xs:string'/>
     <xs:element minOccurs='0' name='currentUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='currentUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventDate' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventTime' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoEventExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='cargoReasonExplanation' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveredTo' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryTime' type='xs:string'/>
     <xs:element minOccurs='0' name='pickupDocumentNo' type='xs:string'/>
     <xs:element minOccurs='0' name='waybillNo' type='xs:string'/>
     <xs:element minOccurs='0' name='extraInfo' type='xs:string'/>
     <xs:element minOccurs='0' name='description' type='xs:string'/>
     <xs:element minOccurs='0' name='activeFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='userCreate' type='xs:string'/>
     <xs:element minOccurs='0' name='dateCreate' type='xs:string'/>
     <xs:element minOccurs='0' name='timeCreate' type='xs:string'/>
     <xs:element minOccurs='0' name='userUpdate' type='xs:string'/>
     <xs:element minOccurs='0' name='delUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='delUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='delCityName' type='xs:string'/>
     <xs:element minOccurs='0' name='depCityId' type='xs:string'/>
     <xs:element minOccurs='0' name='arrCityId' type='xs:string'/>
     <xs:element minOccurs='0' name='delCityId' type='xs:string'/>
     <xs:element minOccurs='0' name='recAddressTxt' type='xs:string'/>
     <xs:element minOccurs='0' name='invoiceNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='arrUnitTelArea' type='xs:string'/>
     <xs:element minOccurs='0' name='arrUnitTelNo' type='xs:string'/>
     <xs:element minOccurs='0' name='arrMainUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='delMainUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='campaignName' type='xs:string'/>
     <xs:element minOccurs='0' name='campaignId' type='xs:string'/>
     <xs:element minOccurs='0' name='campaignKey' type='xs:string'/>
     <xs:element minOccurs='0' name='insurance' type='xs:string'/>
     <xs:element minOccurs='0' name='arrivalTime' type='xs:string'/>
     <xs:element name='dayDiff' type='xs:int'/>
     <xs:element minOccurs='0' name='recCustTelArea1' type='xs:string'/>
     <xs:element minOccurs='0' name='recCustTelNo1' type='xs:string'/>
     <xs:element minOccurs='0' name='depMainUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='perfCFlag' type='xs:string'/>
     <xs:element name='delivDurationWorkDay' type='xs:int'/>
     <xs:element name='delivDuration' type='xs:int'/>
     <xs:element minOccurs='0' name='perfLateCEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='perfLateCReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='contractId' type='xs:string'/>
     <xs:element minOccurs='0' name='docFieldAllValue' type='xs:string'/>
     <xs:element name='shipmentDistance' type='xs:int'/>
     <xs:element minOccurs='0' name='estimatedDeliveryDate' type='xs:string'/>
     <xs:element minOccurs='0' name='campaignAreaType' type='xs:string'/>
     <xs:element minOccurs='0' name='reroutingFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitArrivalDate' type='xs:string'/>
     <xs:element minOccurs='0' name='deliveryUnitArrivalTime' type='xs:string'/>
     <xs:element name='waybillCount' type='xs:int'/>
     <xs:element minOccurs='0' name='docCarryBagNo' type='xs:string'/>
     <xs:element minOccurs='0' name='senderAddress' type='xs:string'/>
     <xs:element minOccurs='0' name='senderTownName' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverTownName' type='xs:string'/>
     <xs:element minOccurs='0' name='senderPhone1' type='xs:string'/>
     <xs:element minOccurs='0' name='senderGsm' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverPhone1' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverGsm' type='xs:string'/>
     <xs:element minOccurs='0' name='arrCountyId' type='xs:string'/>
     <xs:element minOccurs='0' name='depCountyId' type='xs:string'/>
     <xs:element minOccurs='0' name='receiverCountyName' type='xs:string'/>
     <xs:element minOccurs='0' name='nextDayDeliveryFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='nextDayDeliveryEventId' type='xs:string'/>
     <xs:element minOccurs='0' name='nextDayDeliveryReasonId' type='xs:string'/>
     <xs:element minOccurs='0' name='txEventDate' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCountyName' type='xs:string'/>
     <xs:element minOccurs='0' name='transactionChannel' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustTelArea1' type='xs:string'/>
     <xs:element minOccurs='0' name='senderCustTelNo1' type='xs:string'/>
     <xs:element minOccurs='0' name='delFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectFlag' type='xs:string'/>
     <xs:element minOccurs='0' name='rejectReason' type='xs:string'/>
     <xs:element minOccurs='0' name='delMainUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='arrMainUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='depMainUnitName' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='invDocFieldVOArray' nillable='true' type='tns:InvDocField2VO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoFieldVOArray' nillable='true' type='tns:DocCargoField2VO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoLifeCycleVOArray' nillable='true' type='tns:DocCargoLifeCycleVO'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='docCargoVOArray' nillable='true' type='tns:DocCargoVO'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='WsReportWithReferenceServices_listInvDocumentByCustIdV2'>
  <part element='tns:listInvDocumentByCustIdV2' name='listInvDocumentByCustIdV2'></part>
 </message>
 <message name='WsReportWithReferenceServices_getDeliveryCollectionInfoByReferenceResponse'>
  <part element='tns:getDeliveryCollectionInfoByReferenceResponse' name='getDeliveryCollectionInfoByReferenceResponse'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentInterfaceByReferenceResponse'>
  <part element='tns:listInvDocumentInterfaceByReferenceResponse' name='listInvDocumentInterfaceByReferenceResponse'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentByGrpSpecialField'>
  <part element='tns:listInvDocumentByGrpSpecialField' name='listInvDocumentByGrpSpecialField'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentByWaybillNo'>
  <part element='tns:listInvDocumentByWaybillNo' name='listInvDocumentByWaybillNo'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentInterfaceByReference'>
  <part element='tns:listInvDocumentInterfaceByReference' name='listInvDocumentInterfaceByReference'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2'>
  <part element='tns:listInvDocumentInterfaceWithFailedDeliveryV2' name='listInvDocumentInterfaceWithFailedDeliveryV2'></part>
 </message>
 <message name='YurticikargoWSException'>
  <part element='tns:YurticikargoWSException' name='YurticikargoWSException'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentByCustIdV2Response'>
  <part element='tns:listInvDocumentByCustIdV2Response' name='listInvDocumentByCustIdV2Response'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentByWaybillNoResponse'>
  <part element='tns:listInvDocumentByWaybillNoResponse' name='listInvDocumentByWaybillNoResponse'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentByGrpSpecialFieldResponse'>
  <part element='tns:listInvDocumentByGrpSpecialFieldResponse' name='listInvDocumentByGrpSpecialFieldResponse'></part>
 </message>
 <message name='WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2Response'>
  <part element='tns:listInvDocumentInterfaceWithFailedDeliveryV2Response' name='listInvDocumentInterfaceWithFailedDeliveryV2Response'></part>
 </message>
 <message name='WsReportWithReferenceServices_listNgiShipping'>
  <part element='tns:listNgiShipping' name='listNgiShipping'></part>
 </message>
 <message name='WsReportWithReferenceServices_listNgiShippingResponse'>
  <part element='tns:listNgiShippingResponse' name='listNgiShippingResponse'></part>
 </message>
 <message name='WsReportWithReferenceServices_getDeliveryCollectionInfoByReference'>
  <part element='tns:getDeliveryCollectionInfoByReference' name='getDeliveryCollectionInfoByReference'></part>
 </message>
 <portType name='WsReportWithReferenceServices'>
  <operation name='getDeliveryCollectionInfoByReference' parameterOrder='getDeliveryCollectionInfoByReference'>
   <input message='tns:WsReportWithReferenceServices_getDeliveryCollectionInfoByReference'></input>
   <output message='tns:WsReportWithReferenceServices_getDeliveryCollectionInfoByReferenceResponse'></output>
   <fault message='tns:YurticikargoWSException' name='YurticikargoWSException'></fault>
  </operation>
  <operation name='listInvDocumentByCustIdV2' parameterOrder='listInvDocumentByCustIdV2'>
   <input message='tns:WsReportWithReferenceServices_listInvDocumentByCustIdV2'></input>
   <output message='tns:WsReportWithReferenceServices_listInvDocumentByCustIdV2Response'></output>
   <fault message='tns:YurticikargoWSException' name='YurticikargoWSException'></fault>
  </operation>
  <operation name='listInvDocumentByGrpSpecialField' parameterOrder='listInvDocumentByGrpSpecialField'>
   <input message='tns:WsReportWithReferenceServices_listInvDocumentByGrpSpecialField'></input>
   <output message='tns:WsReportWithReferenceServices_listInvDocumentByGrpSpecialFieldResponse'></output>
   <fault message='tns:YurticikargoWSException' name='YurticikargoWSException'></fault>
  </operation>
  <operation name='listInvDocumentByWaybillNo' parameterOrder='listInvDocumentByWaybillNo'>
   <input message='tns:WsReportWithReferenceServices_listInvDocumentByWaybillNo'></input>
   <output message='tns:WsReportWithReferenceServices_listInvDocumentByWaybillNoResponse'></output>
   <fault message='tns:YurticikargoWSException' name='YurticikargoWSException'></fault>
  </operation>
  <operation name='listInvDocumentInterfaceByReference' parameterOrder='listInvDocumentInterfaceByReference'>
   <input message='tns:WsReportWithReferenceServices_listInvDocumentInterfaceByReference'></input>
   <output message='tns:WsReportWithReferenceServices_listInvDocumentInterfaceByReferenceResponse'></output>
   <fault message='tns:YurticikargoWSException' name='YurticikargoWSException'></fault>
  </operation>
  <operation name='listInvDocumentInterfaceWithFailedDeliveryV2' parameterOrder='listInvDocumentInterfaceWithFailedDeliveryV2'>
   <input message='tns:WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2'></input>
   <output message='tns:WsReportWithReferenceServices_listInvDocumentInterfaceWithFailedDeliveryV2Response'></output>
   <fault message='tns:YurticikargoWSException' name='YurticikargoWSException'></fault>
  </operation>
  <operation name='listNgiShipping' parameterOrder='listNgiShipping'>
   <input message='tns:WsReportWithReferenceServices_listNgiShipping'></input>
   <output message='tns:WsReportWithReferenceServices_listNgiShippingResponse'></output>
   <fault message='tns:YurticikargoWSException' name='YurticikargoWSException'></fault>
  </operation>
 </portType>
 <binding name='WsReportWithReferenceServicesBinding' type='tns:WsReportWithReferenceServices'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getDeliveryCollectionInfoByReference'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='YurticikargoWSException'>
    <soap:fault name='YurticikargoWSException' use='literal'/>
   </fault>
  </operation>
  <operation name='listInvDocumentByCustIdV2'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='YurticikargoWSException'>
    <soap:fault name='YurticikargoWSException' use='literal'/>
   </fault>
  </operation>
  <operation name='listInvDocumentByGrpSpecialField'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='YurticikargoWSException'>
    <soap:fault name='YurticikargoWSException' use='literal'/>
   </fault>
  </operation>
  <operation name='listInvDocumentByWaybillNo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='YurticikargoWSException'>
    <soap:fault name='YurticikargoWSException' use='literal'/>
   </fault>
  </operation>
  <operation name='listInvDocumentInterfaceByReference'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='YurticikargoWSException'>
    <soap:fault name='YurticikargoWSException' use='literal'/>
   </fault>
  </operation>
  <operation name='listInvDocumentInterfaceWithFailedDeliveryV2'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='YurticikargoWSException'>
    <soap:fault name='YurticikargoWSException' use='literal'/>
   </fault>
  </operation>
  <operation name='listNgiShipping'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='YurticikargoWSException'>
    <soap:fault name='YurticikargoWSException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='KOPSWebServices'>
  <port binding='tns:WsReportWithReferenceServicesBinding' name='WsReportWithReferenceServicesPort'>
   <soap:address location='http://webservices.yurticikargo.com:8080/KOPSWebServices/WsReportWithReferenceServices'/>
  </port>
 </service>
</definitions>